REDALERT_TOKEN=pr_TwGtUQvnMgnWbYTRHOnwrGcKuZvDqppALWqwWdoJLSpfvsUYGNiyOfVwWoPBrOdr
REDALERT_API_URL=https://redalert.orielhaim.com/api/stats/history
MONGODB_URL=mongodb://mongodb:27017
SYNC_INTERVAL_MINUTES=5
